.calibre {
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.calibre2 {
    display: inline-block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 10em
    }
.calibre3 {
    height: auto;
    width: 100%
    }
.calibre4 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 14em
    }
.calibre5 {
    height: 120px;
    width: auto
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    height: auto;
    width: auto
    }
.calibre8 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    display: block
    }
.calibre11 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-row;
    padding-left: 0.5em;
    vertical-align: middle
    }
.calibre12 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit;
    width: 1.5em
    }
.calibre13 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 4em;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre14 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 0.5em;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.centrado {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.centrado1 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2em;
    text-align: center;
    text-indent: 0
    }
.cita {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em
    }
.cita1 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 1.5em
    }
.derecha {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 0.5em;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.ejemplos {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: collapse;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 2px;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: table;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-indent: 0;
    width: 90%
    }
.epubautor {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubfecha {
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 0.77778em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.epubfirma {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubmarca {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubsubtitulo {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: center;
    text-indent: 0
    }
.epubtitulo {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubv {
    color: #5084b8;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.imagencentrada {
    display: block;
    line-height: 1.3em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.imagencentrada1 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 2em;
    text-align: center;
    text-indent: 0
    }
.info {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0;
    width: 90%
    }
.negrita {
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.poema {
    display: block;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.saltop {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1.5em
    }
.sangria {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 5.5em
    }
.sans {
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 1.125em;
    line-height: 1.2
    }
.sans1 {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2
    }
.sans2 {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 1em;
    font-weight: bold
    }
.sans3 {
    color: #5084b8;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em
    }
.sans4 {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    font-size: 0.77778em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.sinopsis {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Trebuchet MS, Trebuchet, sans-serif;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

