.asangre {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre {
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.calibre2 {
    display: inline-block;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    width: 8em
    }
.calibre3 {
    height: auto;
    width: 100%
    }
.calibre4 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 12em
    }
.calibre5 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre8 {
    height: auto;
    max-height: 60%;
    width: auto
    }
.calibre9 {
    font-style: italic;
    line-height: 1.2
    }
.calibre10 {
    display: block;
    height: 40%
    }
.calibre11 {
    height: auto;
    width: auto
    }
.calibre12 {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: none;
    font-size: 1.41667em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 33%;
    text-align: center;
    text-indent: 0
    }
.capitular {
    float: left;
    font-size: 300%;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    margin-bottom: -0.2em;
    margin-left: 0;
    margin-right: 0.125em;
    margin-top: -0.1em;
    text-indent: 0
    }
.capitular1 {
    float: left;
    font-size: 2em;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    margin-bottom: -0.2em;
    margin-left: 0;
    margin-right: 0.125em;
    margin-top: -0.1em;
    text-indent: 0
    }
.centrado {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 2.5em;
    text-align: center;
    text-indent: 0
    }
.centrado1 {
    display: block;
    text-align: center;
    text-indent: 0
    }
.epubautor {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubfecha {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;
    font-size: 0.77778em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.epubfirma {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubmarca {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubtitulo {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-weight: normal;
    hyphens: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epubv {
    color: #5084b8;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.info {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-top: 5em;
    width: 90%
    }
.salto {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 1em;
    text-align: left;
    text-indent: 0
    }
.salto1 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 2.5em;
    text-align: justify;
    text-indent: 1.5em
    }
.sans {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;
    font-size: 1.125em;
    line-height: 1.2
    }
.sans1 {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2
    }
.sans2 {
    color: #5084b8;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em
    }
.sans3 {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;
    font-size: 0.77778em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.sinopsis {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

